.gamePageContainer {
    background-image: url('/images/tableBackground.jpg');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    
}
.gameContent{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.gameComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Center content vertically */
    align-items: center;  
}

.finishButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}
.finishButtonContainer button{
    font-family: 'Rounded Mplus 1c';
    font-size: medium;
    padding: 15px 20px;
    background-color: #cf58dc;
    color: black;
    font-size: medium;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}