
.login-container {
  position: relative;
  display: flex;
  direction: rtl;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('/images/login.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.side-image {
  position: absolute;
  top: 0;
  width: 15%; 
  height: 100%;
  object-fit: contain;
}

.side-image-left {
  left: 30px;
}

.side-image-right {
  right: 30px;
}

.login-content {
  text-align: center;
  height: 90%;
  width: 70%;
  margin-bottom: 4%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  font-family: 'Rounded Mplus 1c';
  font-weight: bolder;
  font-size: 18px;
}

.gender-selection {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px;
}

.login-gender-image {
  width: 100px;
  height: 150px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.boy-selected {
  border: 7px solid blue;
  border-radius: 5px;
}

.girl-selected {
  border: 7px solid pink;
  border-radius: 5px;
}
.login-content input {
  margin-top: 10px;
  font-family: 'Rounded Mplus 1c';
  border-radius: 5px;
}

.loginContent label {
  font-family: 'Rounded Mplus 1c';
  font-weight: bolder;
  font-size: 15px;
}
