.custom-table {
  width: 60%;
  border-collapse: collapse;
}
.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

/* Styles for regular cells (content cells) */
.answer-cells td {
  background-color: transparent; /* Transparent background for content cells */
  border: none; /* No borders on content cells */
  padding: 0; /* Remove padding from the table cells */
  text-align: center;
  
  /* Flexbox to center the button both horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust height if needed */
}

/* First column (X, 1, 2, etc.) without borders */
.no-border {
  border: none;
}

