@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('fonts/RoundedMplus1c-Bold.woff2') format('woff2'),
        url('fonts/RoundedMplus1c-Bold.woff') format('woff'),
        url('fonts/RoundedMplus1c-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('fonts/RoundedMplus1c-ExtraBold.woff2') format('woff2'),
        url('fonts/RoundedMplus1c-ExtraBold.woff') format('woff'),
        url('fonts/RoundedMplus1c-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('fonts/RoundedMplus1c-Light.woff2') format('woff2'),
        url('fonts/RoundedMplus1c-Light.woff') format('woff'),
        url('fonts/RoundedMplus1c-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('fonts/RoundedMplus1c-Thin.woff2') format('woff2'),
        url('fonts/RoundedMplus1c-Thin.woff') format('woff'),
        url('fonts/RoundedMplus1c-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'OronYadMFW';
    src: url('fonts/OronYadMFW.woff2') format('woff2'),
        url('fonts/OronYadMFW.woff') format('woff'),
        url('fonts/OronYadMFW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('fonts/RoundedMplus1c-Regular.woff2') format('woff2'),
        url('fonts/RoundedMplus1c-Regular.woff') format('woff'),
        url('fonts/RoundedMplus1c-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rugatka FM';
    src: url('fonts/RugatkaFM-Bold.woff2') format('woff2'),
        url('fonts/RugatkaFM-Bold.woff') format('woff'),
        url('fonts/RugatkaFM-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'OronYadMFW';
    src: url('fonts/OronYadMFW_1.woff2') format('woff2'),
        url('fonts/OronYadMFW_1.woff') format('woff'),
        url('fonts/OronYadMFW_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('fonts/RoundedMplus1c-Medium.woff2') format('woff2'),
        url('fonts/RoundedMplus1c-Medium.woff') format('woff'),
        url('fonts/RoundedMplus1c-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rugatka FM';
    src: url('fonts/RugatkaFM-Bold_1.woff2') format('woff2'),
        url('fonts/RugatkaFM-Bold_1.woff') format('woff'),
        url('fonts/RugatkaFM-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rubik Scribble';
    src: url('fonts/RubikScribble-Regular.woff2') format('woff2'),
        url('fonts/RubikScribble-Regular.woff') format('woff'),
        url('fonts/RubikScribble-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Bold.woff2') format('woff2'),
        url('fonts/SpaceMono-Bold.woff') format('woff'),
        url('fonts/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-BoldItalic.woff2') format('woff2'),
        url('fonts/SpaceMono-BoldItalic.woff') format('woff'),
        url('fonts/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Regular.woff2') format('woff2'),
        url('fonts/SpaceMono-Regular.woff') format('woff'),
        url('fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rubik Dirt';
    src: url('fonts/RubikDirt-Regular.woff2') format('woff2'),
        url('fonts/RubikDirt-Regular.woff') format('woff'),
        url('fonts/RubikDirt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Italic.woff2') format('woff2'),
        url('fonts/SpaceMono-Italic.woff') format('woff'),
        url('fonts/SpaceMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Young Serif';
    src: url('fonts/YoungSerif-Regular.woff2') format('woff2'),
        url('fonts/YoungSerif-Regular.woff') format('woff'),
        url('fonts/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dida FM';
    src: url('fonts/DidaFM-Regular.woff2') format('woff2'),
        url('fonts/DidaFM-Regular.woff') format('woff'),
        url('fonts/DidaFM-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Flamingo v2 FM';
    src: url('fonts/Flamingov2FM-Regular.woff2') format('woff2'),
        url('fonts/Flamingov2FM-Regular.woff') format('woff'),
        url('fonts/Flamingov2FM-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'ABeeZee';
    src: url('fonts/ABeeZee-Italic.woff2') format('woff2'),
        url('fonts/ABeeZee-Italic.woff') format('woff'),
        url('fonts/ABeeZee-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'ABeeZee';
    src: url('fonts/ABeeZee-Regular.woff2') format('woff2'),
        url('fonts/ABeeZee-Regular.woff') format('woff'),
        url('fonts/ABeeZee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Flamingo v2 FM';
    src: url('fonts/Flamingov2FM-Regular_1.woff2') format('woff2'),
        url('fonts/Flamingov2FM-Regular_1.woff') format('woff'),
        url('fonts/Flamingov2FM-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Dida FM';
    src: url('fonts/DidaFM-Regular_1.woff2') format('woff2'),
        url('fonts/DidaFM-Regular_1.woff') format('woff'),
        url('fonts/DidaFM-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Ginger FM';
    src: url('fonts/GingerFM-Regular.woff2') format('woff2'),
        url('fonts/GingerFM-Regular.woff') format('woff'),
        url('fonts/GingerFM-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Gan CLM';
    src: url('fonts/GanCLM-Bold.woff2') format('woff2'),
        url('fonts/GanCLM-Bold.woff') format('woff'),
        url('fonts/GanCLM-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Fredoka';
    src: url('fonts/Fredoka-Light.woff2') format('woff2'),
        url('fonts/Fredoka-Light.woff') format('woff'),
        url('fonts/Fredoka-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Gan CLM';
    src: url('fonts/GanCLM-Bold_1.woff2') format('woff2'),
        url('fonts/GanCLM-Bold_1.woff') format('woff'),
        url('fonts/GanCLM-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Ginger FM';
    src: url('fonts/GingerFM-Regular_1.woff2') format('woff2'),
        url('fonts/GingerFM-Regular_1.woff') format('woff'),
        url('fonts/GingerFM-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Iconimonim 1.5 FM';
    src: url('fonts/Iconimonim15FM-Regular.woff2') format('woff2'),
        url('fonts/Iconimonim15FM-Regular.woff') format('woff'),
        url('fonts/Iconimonim15FM-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-BoldItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-BoldItalic.woff') format('woff'),
        url('fonts/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Habibi 1.1 FM';
    src: url('fonts/Habibi11FM-Regular.woff2') format('woff2'),
        url('fonts/Habibi11FM-Regular.woff') format('woff'),
        url('fonts/Habibi11FM-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('fonts/JosefinSans-Bold.woff') format('woff'),
        url('fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-ExtraLight.woff2') format('woff2'),
        url('fonts/JosefinSans-ExtraLight.woff') format('woff'),
        url('fonts/JosefinSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Habibi 1.1 FM';
    src: url('fonts/Habibi11FM-Regular_1.woff2') format('woff2'),
        url('fonts/Habibi11FM-Regular_1.woff') format('woff'),
        url('fonts/Habibi11FM-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Iconimonim 1.5 FM';
    src: url('fonts/Iconimonim15FM-Regular_1.woff2') format('woff2'),
        url('fonts/Iconimonim15FM-Regular_1.woff') format('woff'),
        url('fonts/Iconimonim15FM-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('fonts/JosefinSans-Regular.woff') format('woff'),
        url('fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-LightItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-LightItalic.woff') format('woff'),
        url('fonts/JosefinSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-ExtraLightItalic.woff') format('woff'),
        url('fonts/JosefinSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Italic.woff2') format('woff2'),
        url('fonts/JosefinSans-Italic.woff') format('woff'),
        url('fonts/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Light.woff2') format('woff2'),
        url('fonts/JosefinSans-Light.woff') format('woff'),
        url('fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Medium.woff2') format('woff2'),
        url('fonts/JosefinSans-Medium.woff') format('woff'),
        url('fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-SemiBoldItalic.woff') format('woff'),
        url('fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-MediumItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-MediumItalic.woff') format('woff'),
        url('fonts/JosefinSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('fonts/JosefinSans-Thin.woff') format('woff'),
        url('fonts/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-ThinItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-ThinItalic.woff') format('woff'),
        url('fonts/JosefinSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
  