// Colors
$primary-color: cornflowerblue;
$secondary-color: gold;
$danger-color: red;
$success-color: green;
$border-color: black;
$background-color: #f9f9f9;

// Fonts
$primary-font: 'Rounded Mplus 1c', sans-serif;
$secondary-font: 'Dida FM', sans-serif;
$font-size-small: 12px;
$font-size-medium: 15px;
$font-size-large: 18px;
$font-weight-bold: bold;
$font-weight-normal: normal;

// Border
$border-radius: 5px;
$border-width: 2px;

// Spacing
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;
