.game-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/images/gameBackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    padding: 2vh;
  }
.game-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 80vw; // מתאים את עצמו למסכים גדולים וקטנים
    margin-top: 2vh;
    gap: 2vw; // רווח דינמי בין האלמנטים
}
.game-component {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finish-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20vw;
    max-width: 200px;
}


.finish-button-container button {
    padding: 1.5vh 2vw;
    font-size: 2vh;
    background-color: #d63384;
    color: white;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    transition: 0.3s;
}
.finish-button-container button:hover {
    background-color: #b91c6b;
}