.game-page-container {
    background-image: url('/images/tableBackground.jpg');
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    
}
.game-component-container{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Center content vertically */
    align-items: center;  
}

.finish-button-container{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.finish-button-container button{
    font-family: 'Rounded Mplus 1c';
    font-size: large;
    padding: 15px 20px;
    background-color: #cf58dc;
    color: black;
    font-size: medium;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}