
.login-container {
  position: relative;
  display: flex;
  direction: rtl;
  justify-content: center;
  flex-direction:column ;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('/images/login.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.side-image {
  position: absolute;
  top: 0;
  width: 15%; 
  height: 100%; 
  object-fit: contain; 
}

.side-image.left {
  left: 30px;
}

.side-image.right {
  right: 30px; 
}

.login-content {
  z-index: 1;
  text-align: center;
  height: 70%; /* Keep the height as it was */
  width: 40%; /* Adjust the width to make it bigger */
  max-width: 600px; /* Ensure it doesn't get too large on big screens */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Rounded Mplus 1c';
  font-weight: bolder;
  font-size: 18px;
}

.gender-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.login-gender-image {
  width: 200x;
  height: 250px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.boy-selected {
  border: 5px solid blue;
  border-radius: 5px;
}

.girl-selected {
  border: 5px solid pink;
  border-radius: 5px;
}



